[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kerry/Desktop/test.desktop]
row=4
col=0

[2019-09-03-09-56-21-07]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/kerry]
row=2
col=0

